# cmake output
CMakeFiles
CMakeCache.txt
CMakeScripts
CTestTestfile.cmake
Makefile
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt

# build files
build/
main

# editor
*.swp
*~
.#*
#*

# demo data
tmp

# OSX
.DS_Store